.container {
  height: 100%;
  padding-top: 3em;
}

.container h1 {
  padding-left: 0.5em;
}

.categories_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
}

.categories_container div {
  width: 100%;
  height: 15vw;

  border-radius: 9px;
  margin: 0.5em;
}

.categories_container div img {
  width: 100%;
  height: 15vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 9px;
  filter: brightness(100%);
}

.categories_container div img:hover {
  filter: brightness(97%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.categories_container div h5 {
  position: relative;
  font-size: 1vw;
  top: -3vw;
  left: 1vw;
  z-index: 5;
  border-bottom: 1px solid black;
  padding-bottom: 0.3vw;
  width: 9vw;
}

.filter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw;

  border-bottom: 1px solid rgb(157, 150, 150);
  width: 100%;
}
.filter_container div select {
  margin: 0 1vw;
  height: 2vw;
  width: 10vw;
}

.filter_container div button {
  margin: 0 1vw;
  height: 2vw;
  width: 10vw;
}

.search_input {
  height: 2vw;
  width: 10vw;
}

.onoff {
  display: flex;
}
.onoff p {
  margin-left: 0.3vw;
}

.items_container p:first-child {
padding-left:  2vw;
padding-top: 1.5vw;
font-size: 1vw;
}
.products_container  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  column-gap: 1vw;
  row-gap: 1vw;
  padding: 1.5vw;
}

.product_card {
margin-bottom: -2.5vw;
}

.product_card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.product_card p, .product_card h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1vw;
  padding: 0.5vw;

}

.product_card div {
  visibility: hidden;
display: flex;
align-items: center;
justify-content: space-between;
width: 1fr;
position: relative;
top: -3vw;
left: 0;
z-index: 20;

}

.product_card:hover div{
  visibility: visible;
  transition: all 0.3s ease;

}