.container {
}
.image_container div:first-child img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  object-position: 0% 0%;
  padding-bottom: 0.25em;
}

.image_container div:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.0125em;
}

.image_container div:last-child img {
  width: 33%;
  height: 25vw;
  object-fit: cover;
  padding: 0.25em;
}

.info_container {
  padding-top: 12em;
  text-align: center;
  line-height: 4em;
}
.info_container h1 {
  font-size: 4em;
}
.info_container p {
  font-size: 1em;
  padding-bottom: 7em;
}

.sort_container { 
 display: none;
 /* display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 25vw;
  padding-bottom: 4vw;

}

.sort_container div input, .sort_container div select {
width: 10vw; 
height: 2vw;
padding: 0.25em;
}
.sort_container div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10vw; 
  height: 2vw;
  padding: 0.25em;
  border: 1px solid darkgray;
}
.products_container{
 
   padding: 0 8vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
padding-bottom: 10vw;
}

.product_card{
    width: 25.5vw;
    padding-bottom: 4vw;
}
.product_card img{
 width: 100%;
 height: 100%;
}
.product_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  0.03em;
    
}

.explore_container{display: flex;
justify-content: center;
align-items: center;

padding: 10em 0;
background-color: rgba(208, 208, 201, 0.226);
}