.container {
  padding: 12%;
  padding-top: 15em;
height: 80vh;
}


.names_container h1 {
  font-size: 1.5em;
  padding-bottom: 1em;

}
.names_container h2 {
  font-size: 5em;
  font-weight: 200;
  padding: 0.2em;
}

.names_container h2:hover {
  text-decoration: line-through;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.images_container {
  width: 20em;
  height: 20em;
  visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: -7;
  border-radius: 1%;
 
}
.images_container p{
  padding: 0.2em;
}

.cortina:hover ~ .images_container {
  
  top: -650px;
  left: 800px;
  width: 30em;
  height: 30em;
  transition: all 0.3s ease;
  background: url("https://images.pexels.com/photos/12622060/pexels-photo-12622060.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  visibility: visible;
  color:white;
  
}

.oyster:hover ~ .images_container {

  top: -600px;
  left: 820px;
  width: 40em;
  height: 30em;
  transition: all 0.3s ease;
  background: url("https://images.pexels.com/photos/17033057/pexels-photo-17033057/free-photo-of-siyah-ve-beyaz-moda-gunes-gozlugu-kadin.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  visibility: visible;
  background-repeat: no-repeat;
 
  color: white;
}

.domino:hover ~ .images_container {

  top: -550px;
  left: 840px;
  width: 30em;
  height: 40em;
  transition: all 0.3s ease;
  background: url("https://images.pexels.com/photos/10598855/pexels-photo-10598855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  visibility: visible;
  background-repeat: no-repeat;
  color: white;
}

.ave:hover ~ .images_container {

  top: -500px;
  left: 860px;
  width: 35em;
  height: 35em;
  transition: all 0.3s ease;
  background: url("https://images.pexels.com/photos/11362889/pexels-photo-11362889.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  visibility: visible;
}

.ocean:hover ~ .images_container {

  top: -450px;
  left: 880px;
  width: 30em;
  height: 30em;
  transition: all 0.3s ease;
  background: url("https://images.pexels.com/photos/9541087/pexels-photo-9541087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");   
  visibility: visible; 
  color: white;
}

