.container {
  margin-top: 10em;

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3vw;
}

.cards_container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3vw;
  
}
.card_image_container{
  height: 30vw;
  width: 22vw;
}
.card_image_container:hover {
  background-image: url(../public/item.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1%;
  background-position: 45% 50% !important;

}

.card_image{
  height: 30vw;
  width: 22vw;
  border-radius: 1%;
  filter: brightness(90%);
}

.card:first-child{
    padding-left: 0;
}
.card:last-child{
    padding-right: 0;
}
.card {
  padding: 0.5em;
  border-radius: 1%;
}




.card:hover{

  cursor: pointer;
 }


.card_image:hover{
    opacity: 0;
    transition: all ease 0.3s;
    
}
.card span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0.25em 0 0.25em;
}