.container{
    display: flex;
    flex-wrap: nowrap;
align-items: center;
justify-content: center;
align-content: stretch;
padding-bottom: 5em;
gap: 0px;
overflow: hidden;
}

.container img{
    object-fit: cover;
   
}

