.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    padding: 5em 0 15em 0;
}

.model_image {
    border-radius: 0.5%;
    width: 50em;
    height: auto;
   
}

.item_image{
    width: 40em;
    height: auto;
    border-radius: 0.5%;
    object-fit: cover;
    filter: brightness(95%);
}

.items_container{

    height: 75vh;
    padding-left: 1vw;
    padding-top: 5em;
}
.items_container:hover{
    cursor: pointer;
}

.nav_container , .info_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0 1.4em;

}
.info_container {
margin-top: -23.5vh;
}

.nav_container h1{
    
    font-size: 1.5em;
    padding-bottom: 1em;
    
}


.explore{
    visibility: hidden;
    margin-top: 10em;
    padding-right: 4em;
    text-align: end;
    font-weight: 500;
  font-size: 1.5em;
}
.explore:hover{
    cursor: pointer;
    text-decoration: underline;
}
.slide_container{
    padding-top: 5em;
}
.slide_container button{
    position: relative;
    top: -24.1vh;
    height: 49vh;
    width: 20px;
    background:transparent;
    border: none;
    font-size: large;
  
}
.slide_container button:hover{
    text-decoration: underline;
    cursor: pointer;
   }



.model_container h1{
    position: relative;
    top:50vh;
    left: 10vh;
   
    
}