.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    padding: 5em 0 15em 0;
}

.model_image {
    width: 50em;
    height: auto;
    
}

.item_image{
    width: 40em;
    height: auto;
    
    object-fit: cover;
}

.items_container{
 
    height: 75vh;
    padding-left: 1vw;
    padding-top: 5em;
}

.nav_container , .info_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0.7em;

}

.nav_container h1{
    
    font-size: 1.5em;
    
}

.nav_container button{
    background-color: transparent;
    border: none;
    font-size: 0.9em;
}
.nav_container button:hover{
 text-decoration: underline;
 cursor: pointer;
}
.explore{
    visibility: hidden;
    margin-top: 10em;
    padding-right: 4em;
    text-align: end;
    font-weight: 500;
  font-size: 1.5em;
}
.explore:hover{
    cursor: pointer;
    text-decoration: underline;
}