.prod_container {
  display: flex;
  justify-content: center;
}

.images_container {
  padding-top: 0.5em;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item_image {
  padding: 0.5em;

  width: 30vw;
  height: 45vw;
  object-fit: cover;
  border-radius: 12px;
}

.info_container {
  width: 100%;
  height: 100%;
  padding: 3em;
  position: sticky;
  top: 12vw;
  line-height: 3em;
}
.upper_tag {
  
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.711);
  width: max-content;
  padding: 0.3em;
  line-height: 1em;
  color:rgba(0, 0, 0, 0.711);
  border-radius: 2%;
  font-size: 0.7em;
}
.info_container h1 {
  font-size: 2vw;
}
.info_container h5 {
  font-size: 1vw;
  font-weight: 400;
}
.info_container p {
  line-height: 1.5em;
  font-size: 1vw;
}

.info_container span {
  font-size: 1vw;
  color: rgb(87, 86, 85);
  padding: 0.1em;
}

.size_material_container,
.size_material_container div {
  line-height: 1.7em;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color_container {
  line-height: 1.7em;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
}
.color_container div{
    display: flex;
    align-items: center;
    
}
.color_container div span{
    border-radius: 50%;
    display: inline-block;

padding: 0.8em;
margin-left: 0.5vw;
background-color: rgb(175, 177, 176);


}
.size_material_container select {
  height: 100%;
  font-size: 1vw;
  margin-left: 0.5vw;
width: 5vw;
}
.size_material_container div {
  padding-right: 1em;
}
.size_material_container div p {
  font-weight: 500;
}
.size_material_container div p:hover {
cursor: pointer;

}


.buttons_container button {
background-color: transparent;
  width: 100%;
 height: 4em;
  margin: 0.5em 0;
  border-radius: 9px;
 border: 1px solid darkgray;
}

.buttons_container button:hover {
cursor: pointer;
}


.extra_infos{
  line-height: 1.7em;
    margin-top: 1em;
 
    width: 100%;
   
  
}

.featured_info{
margin-top: 1em;

}

.featured_info b:hover{
text-decoration: underline;
cursor: pointer;
  
  }

.extra_infos div div{

  border-bottom: 1px solid rgb(77, 70, 70);
  height: 2em;
}
.extra_infos div div:hover{
cursor: pointer;
}
.extra_infos div p{
  display: none;
  margin-block-start:0em;
  margin-block-end: 0em;
  height: 2em;
  border-bottom: 1px solid rgb(77, 70, 70);
}


.other_container {
    height: 50vh;
    margin-top: 10em;
    border-top: 1px solid rgba(146, 138, 128, 0.291);
  }
