.container{
 text-align: center;
 padding-top: 5em;
padding-bottom: 10em;

}

.container h4{
    font-size: 3em;
    padding-bottom: 0.6em;
}

.container form input{
    font-size: 1em;
    width: 30em;
    height: 2em;
    border: none;
    border-bottom: 1px solid darkgrey;
 
}
.container form button{
    font-size: 1em;
    height: 2em;
    border: none;
    border-bottom: 1px solid darkgrey;
    background-color: transparent;

}
.container form button:hover{
    cursor: pointer;
}
.container form input:focus {
    outline: none !important;
    border-bottom: 1px solid ;
    border-image: linear-gradient(to right, rgb(110, 110, 110), darkgrey) 1;

}
